html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  border: solid;
  border-color: white;
}

li {
    list-style: none;
    text-align: right;
}

a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5cap;
  margin-top: 11px;
}

nav {
    border: solid;
    top: 0;
    left: 0;
    width: 99.5%;
}

li:hover {
    background-color: grey;
    opacity: 0.5;
}

.P {
    color: white;
    text-align: right;
    margin-left: 75%;
    font-size: 2.5cap;
}

.sec {
    border: solid;
    margin: 10%;
}

.text {
    text-align: center;
    font-size: 10cap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5cap;
    margin-top: 1.5cap;
    color: aqua;
}

.text1 {
    text-align: center;
    font-size: 6cap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
}

.text2 {
    text-align: center;
    font-size: 3cap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
}

.section2 {
    transform: translate(-50%, -50%);
    width: 70%;
    height: 600px;
    overflow: hidden;
    border: solid;
    margin-left: 50%;
    margin-top: 50%;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: rgb(254, 254, 254);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slideshow {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}

#section3 {
    text-align: center;
}

img {
    border: solid;
    width: 20%;
}

.image:hover {
    opacity: 0.5;
}


.image {
    width: 100% ;
    
}

h1 {
    margin: 1%;
    font-size: 6.5cap;
    color: rgb(106, 232, 232);
}

footer {
    background-color: rgb(138, 138, 138);
    text-align: center;
    color: #fff;
}